.total {
    font-family: "Microsoft YaHei", serif;
    background: #eee;
    padding: 20px;
    margin: 20px;
    border: 1px solid #999;
    min-width: 420px;
    overflow: hidden;
}
.left {
    border: 1px solid black;
    width: 160px;
    padding: 20px;
    float: left;
}
.left img {
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
.right img {
    float: left;
    height: 80px;
    width: 80px;
    margin: 10px;
}
.right {
    border: 1px solid black;
    width: 100px;
    padding: 10px;
    float: right;
}

.middle {
    border: 1px solid black;
    padding: 20px;
    margin-left: 220px;
    margin-right: 140px;
}

