* {
    margin: 0;
    padding: 0;
}
header {
    height: 60px;
    background: black;
}
header img {
    padding: 1px;
    height: 58px;
    margin-left: 20px;
}
header ul {
    position: absolute;
    top: 0;
    right: 20px;
}
header ul li {
    text-align: center;
    width: 60px;
    display: block;
    float: left;
    padding: 20px 10px;
}
header ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
header ul li:hover {
    border-bottom: 1px solid red;
    background: #474747;
    border-radius: 3px;
}